.carousel-container {
    display: none;
}

.carousel-caption {
    color: black;
    background-color: #a4c7be9b;
    backdrop-filter: blur(12px);
    border-radius: 20px;

    padding: 1rem 1.5rem;
}

@media only screen and (min-width: 750px) {
  .carousel-container {
    width: 60%;
    display: inline-block !important;
  }

  .carousel-img {
    width: 100% !important;
    height: 595px;

    object-fit: cover;
    object-position: center;

    filter: ;
  }
}
