.user-pane {
  background-color: rgb(221, 221, 221);

  width: 100%;

  padding: 1rem 1.5rem;

  border-bottom: 10px black;
}

.user-pane ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  font-weight: bold;
  line-height: 2.5rem;
}

.user-pane ul li {
  padding-left: 1em;
  text-indent: -1em;
}

.user-pane ul li:before {
  content: ">";
  font-weight: bold;
  padding-right: 0.5rem;
}

hr.style-six {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
