.whitebtn-wrapper {
  outline: 5px white solid;

  padding: 0.7rem 1.2rem;
}

.whitebtn-wrapper > button {
  color: white;
  font-weight: bold;
  font-size: large;
}

.whitebtn-wrapper:hover,
.whitebtn-wrapper:focus {
  outline: 5px rgb(236, 236, 236) solid;
  color: rgb(236, 236, 236);
}
