.main-header {
  outline: 1px red solid;
  margin: 0;
  /* height: 50vh; */
  height: calc(var(--vh, 1vh) * 100);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.picture-container {
  padding: 1rem;
  width: 100%;
  height: calc(var(--vh, 1vh) * 90);

  text-align: center;

  background-color: white;
  background-image: url("./img/pexels-harrison-haines-3536259.jpg");
  background-position: bottom;
  background-size: cover;
}

@media only screen and (min-width: 600px) {
  .main-header {
  }

  .picture-container {
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: baseline;

    max-height: 96vh;

    margin-bottom: 0;
  }
}
