.main-nav {
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;

  border-bottom: 3px black ;

  /* animation: 0.8s fadeIn;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  opacity: 0; */
}

@keyframes fadeIn {
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.main-nav a {
  color: black;
  text-decoration: none;
}

.main-nav button,
.main-nav Link {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.main-nav * {
  font-weight: bold;
  font-size: large;
}
