/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.main-header {
  margin: 0;
  /* height: 50vh; */
  height: calc(var(--vh, 1vh) * 100);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-line-pack: center;
  align-content: center;
}

.picture-container {
  padding: 1rem;
  width: 100%;
  height: calc(var(--vh, 1vh) * 90);

  text-align: center;

  background-color: white;
  background-image: url("./img/pexels-harrison-haines-3536259.jpg");
  background-position: bottom;
  background-size: cover;
}

@media only screen and (min-width: 600px) {
  .main-header {
    margin: calc(var(--vh, 1vh) * 2);
    margin-bottom: 0px;
    height: calc(var(--vh, 1vh) * 98);
  }

  .picture-container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;

    height: calc(var(--vh, 1vh) * 88);
    margin-bottom: 0;
  }
}
