.home-content {
  padding: 1rem 2rem;
  padding-bottom: 3rem;

  background-color: #818181;
}

.home-content__white-header {
  margin: 0;
  color: white;
  font-size: xx-large;
  line-height: 1.2;
}

.home-content__allcaps-header {
  margin: 0.5rem 0;
  color: black;
  text-transform: uppercase;
  font-size: larger;
  letter-spacing: 3px;
}

.home-content__paragraph-text {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 750px) {
  footer small {
    font-size: x-small;
  }

  .home-content__container {
    height: 595px;
    display: flex;
    flex-wrap: nowrap;

    width: 80%;
    margin: 2rem auto;
  }

  .home-content {
    padding: 2rem 2em;
    display: block;
    width: 40%;
    height: 595px;
  }
}
