/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin-top: 2rem auto 1rem auto;
}

.results-container > div {
  min-width: 250px;
  max-width: 450px;
}

.something-went-wrong {
  padding: 5rem 3rem;
}

@media only screen and (min-width: 600px) {
  .results-container > div {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
