.login-container {
  width: 100%;
  min-height: 30vh;
  padding: 2rem 3rem;

  background-color: #7f8885;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.login-form input {
  outline: 0;
  border: 0;
  border-bottom: 3px black solid;

  color: black;
  font-weight: bold;
  letter-spacing: 3px;

  background-color: #7f8885;
}

.login-form > div {
  margin: 1rem;

  color: white;
  font-weight: bold;
}

.login-button {
  background-color: transparent;
  border: 0;
}

.login-container p {
  text-align: center;
}

::placeholder {
  color: rgb(88, 88, 88);
  opacity: 1;
}

.signup-link {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}


@media only screen and (min-width: 600px) {
  .login-container p {
    font-size: larger;
  }
  
}