/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.login-container {
  width: 100%;
  min-height: 30vh;
  padding: 2rem 3rem;

  background-color: #7f8885;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.login-form label {
  margin-right: 0.8rem;
}

.login-form input {
  margin-bottom: 1.5rem;

  outline: 0;
  border: 0;

  border-bottom: 3px black solid;
  color: black;

  font-weight: bold;
  letter-spacing: 3px;

  background-color: #7f8885;
}

.login-form > div {
  margin: 1rem;

  color: white;
  font-weight: bold;
}

.login-button {
  background-color: transparent;
  border: 0;
}

.login-container p {
  text-align: center;
}

::-webkit-input-placeholder {
  color: rgb(88, 88, 88);
  opacity: 1;
}

::-moz-placeholder {
  color: rgb(88, 88, 88);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgb(88, 88, 88);
  opacity: 1;
}

::-ms-input-placeholder {
  color: rgb(88, 88, 88);
  opacity: 1;
}

::placeholder {
  color: rgb(88, 88, 88);
  opacity: 1;
}

.signup-link {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.white-text {
  color: white;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .login-container label,
  .login-container input,
  .login-container p {
    font-size: x-large;
  }

  .login-container button {
    font-size: x-large;

    margin-left: 1rem;
  }
}
